body {
    background-color:black;
    color: white;
    font-size:2vw;
    padding: 1px;
    }

button,input {
    margin: 10px;
}

#inputtext{
    width: 50%;
}

#circle {
    display: inline-block;
    margin: 10% 10px 10% 10px; 
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: black;
  }

footer{
    display: flex;
    position:fixed;
    font-size:0.8vw;
    bottom:0px;
    background-color:rgb(32, 32, 58);
    width:100%;
    }

.align_right{margin-left: auto;
    margin-right: 15px;
    }

.align_center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.align_center div{
    width: 60%;
    display: inline-block;
    background-color:rgb(32, 32, 58);
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;


  }