<body>
        <div class="align_center" id="seaview" #seaview>
                <canvas #canvas></canvas>
                <div #navylight id="navylight"></div>
        </div>
        <div class="align_center" id="toolbar">
                <div class="inputform">
                        <form>
                                Light characteristic:
                                <input type="text" id="inputtext" name="navy" [formControl]="navyTextControl"
                                        [matAutocomplete]="auto">

                                <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredCookiesLights | async"
                                                [value]="option">
                                                {{option}}
                                        </mat-option>
                                </mat-autocomplete>
                                <div id="rain_light_control">
                                        <button (click)="onShow()" [disabled]="showing !=  ''"
                                                style="background-color: lawngreen;">Show</button>
                                        <button (click)="onClear()" [disabled]="showing != ''">Clear</button>
                                        <button (click)="onStop()" [disabled]="showing === ''">Stop</button>
                                </div>
                                <div id="rain_light_control">
                                        <div style="display: flex;">
                                                <label>
                                                        Show rain
                                                        <input type="checkbox" id="showrain" name="showrain"
                                                                [formControl]="showRainControl" (click)="onRainCheck()">
                                                        
                                                </label>
                                        </div>
                                        <div style="display: flex; flex: 1;"></div>

                                        <div style="display: flex;">
                                                <label>
                                                        Radius of light
                                                        <input type="number" min="2" max="150" size="3"
                                                                [formControl]="lightRadiusControl">
                                                </label>
                                        </div>
                                </div>
                        </form>

                </div>
        </div>
        <div #errortext style="color:red;"></div>
        <footer>
                <div class="align_right">
                        &copy; 2021 Andrei Puchko
                </div>
        </footer>
</body>