body {
    background-color:black;
    color: white;
    height: 100%;
}

canvas { 
    position: absolute;
    top: 0;
    z-index: 1;
}

.align_center {
    align-items: center;
    justify-content: center;
    /* display: flex; */
}

.align_center div{
    text-align: center;
  }

  @media screen and (max-width: 980px) {
    .align_center div {
    display: flex;
    }
  }

#seaview { 
    background-image:url("../assets/skyline.svg");
    background-repeat:no-repeat;
    background-position: top center;
    display: flex;
  }

#navylight {
    position: sticky;
    display: inline-block;
    margin: 373px 10px 100px 0px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: transparent;
}

#toolbar{
    /* display: flex; */
    margin-top: -50px;
    /* padding-bottom: 50px; */
}

.inputform{
    padding: 10px;
    z-index: 2;
    display: flex;
    justify-content:center;
    background-color:black;
}

input {
    /* width:45%; */
    margin: 11px;
    /* margin-right: 20px; */
}

@media screen and (max-width: 1000px){
    input {
    width:90%;
    }
}

button{
    width:25%;
    padding-block: 15px;
    border-radius: 7px;
    font-size: 15pt;
    margin: 10px;
}
button:disabled{
    background-color: gray;
}

#show_button{
    background-color: rgb(19, 82, 218)
}
#show_button:disabled{
    background-color:gray
}

#rain_light_control{
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.filler {
    flex-grow: 1;
  }

footer{
    display: flex;
    position: fixed;
    font-size: 0.8vw;
    bottom: 0px;
    background-color:rgb(32, 32, 58);
    width:100%;
}

.align_right{margin-left: auto;
    margin-right: 15px;
}

#errormessage{
    color:red;
    display: flex;
    font-size: x-large;
}
                